<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.4/phpunit.xsd"
        bootstrap="lib/bootstrap.php">
    <testsuite name="default">
        <directory>lib/WpEasyTranslate/PHPUnit</directory>
    </testsuite>
</phpunit>